/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.text-center {
  text-align: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

.banner p {
  color: white;
  opacity: .7;
  font-size: 16px;
}

.btn-primary {
  display: inline-block;
  background-color: #1EDD88;
  padding: 12px 24px;
  border-radius: 25px;
  color: white;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.banner h1 {
  color: white;
  font-size: 2em;
}

.container {
  max-width: 900px;
  width: 90%;
  margin: auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 calc(33.333% - 20px);
  max-width: calc(33.333% - 20px);
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  padding: 30px 0;
  background-color: #2c2b2b;
}

.footer a {
  font-size: 24px;
  color: #1EDD88;
}

.footer .fas {
  color: #BF0F12;
}
